<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/util.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

  <!--external css-->
  <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="lib/gritter/css/jquery.gritter.css" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">
  <script src="lib/chart-master/Chart.js"></script>


  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/css/autoComplete.min.css">

  <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/zabuto_calendar.css">

  <script src="https://kit.fontawesome.com/0cc8d5da0a.js" crossorigin="anonymous"></script>

</head>

<body>
  {{{body}}}
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="lib/zabuto_calendar.js"></script>
  <script src="js/main.js"></script>
  <script src="js/index.js"></script>
  <!-- Calendar and top memnue-->
  <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="lib/common-scripts.js"></script>


  <script type="application/javascript">
    $(document).ready(function () {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function (e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function () {
          return myDateFunction(this.id, false);
        },
        action_nav: function () {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
          type: "text",
          label: "Special event",
          badge: "00"
        },
        {
          type: "block",
          label: "Regular event",
        }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>


</body>


<script>

  // This is the script for the search bar

  // autoComplete.js on typing event emitter
  document.querySelector("#autoComplete").addEventListener("autoComplete", event => {
    console.log(event);
  });
  // The autoComplete.js Engine instance creator
  const autoCompletejs = new autoComplete({
    data: {
      src: async () => {
        // Loading placeholder text
        document
          .querySelector("#autoComplete")
          .setAttribute("placeholder", "Loading...");
        // Fetch External Data Source
        const source = await fetch(
          "http://localhost:3000/api/patients/bydoctor"
        );
        const response = await source.json();

        const data = response.map((patient, index) => {
          patient.fullname = `${patient.firstname} ${patient.lastname}`;
          return patient;
        });
        // Post loading placeholder text
        document
          .querySelector("#autoComplete")
          .setAttribute("placeholder", "Patient Name");
        // Returns Fetched data
        return data;
      },
      key: ["fullname"],
      cache: false
    },
    sort: (a, b) => {
      if (a.match < b.match) return -1;
      if (a.match > b.match) return 1;
      return 0;
    },
    placeHolder: "Patient Name",
    selector: "#autoComplete",
    threshold: 0,
    debounce: 0,
    searchEngine: "strict",
    highlight: true,
    maxResults: 5,
    resultsList: {
      render: true,
      container: source => {
        source.setAttribute("id", "autoComplete_list");
      },
      destination: document.querySelector("#autoComplete"),
      position: "afterend",
      element: "ul"
    },
    resultItem: {
      content: (data, source) => {
        source.innerHTML = data.match;
      },
      element: "li"
    },
    noResults: () => {
      const result = document.createElement("li");
      result.setAttribute("class", "no_result");
      result.setAttribute("tabindex", "1");
      result.innerHTML = "No Results";
      document.querySelector("#autoComplete_list").appendChild(result);
    },
    onSelection: async feedback => {
      console.log(feedback.selection.value.fullname);
      const selection = feedback.selection.value.food;
      let fullname = feedback.selection.value.fullname;
      let id = feedback.selection.value.id;
      console.log("id " + id);
      console.log("name " + fullname);

      // const source = await fetch(
      //   "http://localhost:3000/api/patients/bydoctor" + id
      // );
      // const response = await source.json();

      let modal = document.querySelector("#info-modal")



      $("#search-modal").modal("hide");
      $("#patient-modal").modal("toggle");
      $("#patient-info").empty();




      var lastName = feedback.selection.value.lastname;
      var firstName = feedback.selection.value.firstname;
      var dOB = feedback.selection.value.dob;
      var street = feedback.selection.value.street;
      var city = feedback.selection.value.city;
      var state = feedback.selection.value.state;
      var zip = feedback.selection.value.zip;
      var phone = feedback.selection.value.phone;
      var email = feedback.selection.value.email;
      var height = feedback.selection.value.height;
      var weight = feedback.selection.value.weight;

      var card = $("<div>");
      card.addClass("card border-info mb-3 form-rounded m-3 width");

      var cardHeader = $("<div>");
      cardHeader.addClass("card-header form-rounded font-weight-bold");
      cardHeader.html(" " + lastName + ", " + firstName);
      cardHeader.prepend(" <i class='fas fa-address-card'></i>  ");

      var cardBody = $("<div>");
      cardBody.addClass("card-body");
      cardBody.attr("id", "patient-card");

      var paragraph1 = $("<p>");
      paragraph1.html("<strong>Date of Birth:</strong> " + dOB);
      paragraph1.addClass("card-text");

      var paragraph2 = $("<p>");
      paragraph2.html("<strong>Height (in):</strong> " + height);
      paragraph2.addClass("card-text");

      var paragraph3 = $("<p>");
      paragraph3.html("<strong>Weight (lb):</strong> " + weight);
      paragraph3.addClass("card-text");


      var paragraph4 = $("<p>");
      paragraph4.html("<strong>City:</strong> " + city);
      paragraph4.addClass("card-text");

      var paragraph5 = $("<p>");
      paragraph5.html("<strong>State:</strong> " + state);
      paragraph5.addClass("card-text");

      var paragraph6 = $("<p>");
      paragraph6.html("<strong>Zip:</strong> " + zip);
      paragraph6.addClass("card-text");

      var paragraph7 = $("<p>");
      paragraph7.html("<strong>Phone:</strong> " + phone);
      paragraph7.addClass("card-text");

      var paragraph8 = $("<p>");
      paragraph8.html("<strong>Email:</strong> " + email);
      paragraph8.addClass("card-text");



      cardBody.append(paragraph1);
      cardBody.append(paragraph2);
      cardBody.append(paragraph3);
      cardBody.append(paragraph4);
      cardBody.append(paragraph5);
      cardBody.append(paragraph6);
      cardBody.append(paragraph7);
      cardBody.append(paragraph8);
      card.append(cardHeader);
      card.append(cardBody);


      $("#patient-info").append("<input type='hidden' id='patient-id' value='" + feedback.selection.value.id + "'>");

      $("#patient-info").append(card);









      // Render selected choice to selection div
      document.querySelector(".selection").innerHTML = selection;
      // Clear Input
      document.querySelector("#autoComplete").value = "";
      // Change placeholder with the selected value
      document
        .querySelector("#autoComplete")
        .setAttribute("placeholder", selection);
      // Concole log autoComplete data feedback
      console.log(feedback);
      function showSection() {
        $("#edit-modal").show();
        $("#info-modal").hide();
        $("#first-name-e").attr("value", feedback.selection.value.firstname);
        $("#last-name-e").attr("value", feedback.selection.value.lastname);
        $("#pt-dob-e").attr("value", feedback.selection.value.dob);
        $("#pt-weight-e").attr("value", feedback.selection.value.weight);
        $("#pt-height-e").attr("value", feedback.selection.value.height);
        $("#pt-email-e").attr("value", feedback.selection.value.email);
        $("#pt-phone-e").attr("value", feedback.selection.value.phone);
        $("#pt-street-e").attr("value", feedback.selection.value.street);
        $("#pt-city-e").attr("value", feedback.selection.value.city);
        $("#pt-state-e").attr("value", feedback.selection.value.state);
        $("#pt-zip-e").attr("value", feedback.selection.value.zip);


      }

      $("#edit-btn").on("click", showSection);
    }
  });

  // Toggle Search Engine Type/Mode
  document.querySelector(".toggeler").addEventListener("click", function () {
    // Holdes the toggle buttin alignment
    const toggele = document.querySelector(".toggele").style.justifyContent;

    if (toggele === "flex-start" || toggele === "") {
      // Set Search Engine mode to Loose
      document.querySelector(".toggele").style.justifyContent = "flex-end";
      document.querySelector(".toggeler").innerHTML = "Loose";
      autoCompletejs.searchEngine = "loose";
    } else {
      // Set Search Engine mode to Strict
      document.querySelector(".toggele").style.justifyContent = "flex-start";
      document.querySelector(".toggeler").innerHTML = "Strict";
      autoCompletejs.searchEngine = "strict";
    }
  });

  // Toggle results list and other elements
  const action = function (action) {
    const github = document.querySelector(".github-corner");
    const title = document.querySelector("h1");
    const mode = document.querySelector(".mode");
    const selection = document.querySelector(".selection");
    const footer = document.querySelector(".footer");

    if (action === "dim") {
      github.style.opacity = 1;
      title.style.opacity = 1;
      mode.style.opacity = 1;
      selection.style.opacity = 1;
      footer.style.opacity = 1;
    } else {
      github.style.opacity = 0.1;
      title.style.opacity = 0.3;
      mode.style.opacity = 0.2;
      selection.style.opacity = 0.1;
      footer.style.opacity = 0.1;
    }
  };

  // Toggle event for search input
  // showing & hidding results list onfocus / blur
  ["focus", "blur"].forEach(function (eventType) {
    const resultsList = document.querySelector("#autoComplete_list");

    document.querySelector("#autoComplete").addEventListener(eventType, function () {
      // Hide results list & show other elemennts
      if (eventType === "blur") {
        action("dim");
        resultsList.style.display = "none";
      } else if (eventType === "focus") {
        // Show results list & hide other elemennts
        action("light");
        resultsList.style.display = "block";
      }
    });
  });




</script>



</html>