<h2>Dashboard</h2>
<h5>Hurray! you are logged in.</h5>
<br>



<form id="logout" name="logout" method="get" action="/logout">
<button class="btn-lg btn-info mx-5" type="submit">
    Logout
</button>
</form>
