<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{msg}}</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 m-5 b-5 p-5">

        <p>
          <button class="btn btn-lg btn-warning" id="add-patient" data-toggle="modal" data-target="#add-modal">
            Add patient
          </button>

          <button class="btn btn-lg btn-success" id="search-patient" data-toggle="modal" data-target="#search-modal">
            Search Patient
          </button>

        </p>

        {{!-- This is our ADD PATIENT modal --}}

        <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="surveyModalTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title text-info" id="surveyModalTitle">
                  Add a New Patient
                </h3>
                {{!-- This is the close button --}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                {{!-- THE FORM STARTS HERE --}}

                <form class="clearfix mb-4" action="POST">
                  <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" class="form-control" aria-describedby="first-name"
                      placeholder="Enter First Name">
                  </div>
                  <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" id="last-name" aria-describedby="last-name"
                      placeholder="Enter Last Name">
                  </div>

                  <div class="form-group">
                    <label for="pt-dob">Date of Birth</label>
                    <input type="text" class="form-control" id="pt-dob" aria-describedby="pt-dob"
                      placeholder="01/01/1900">
                  </div>

                  <div class="form-group">
                    <label for="pt-weight">Weight (lbs)</label>
                    <input type="text" class="form-control" id="pt-weight" aria-describedby="pt-weight"
                      placeholder="150">
                  </div>

                  <div class="form-group">
                    <label for="pt-height">Height (in)</label>
                    <input type="text" class="form-control" id="pt-height" aria-describedby="pt-height"
                      placeholder="68">
                  </div>

                  <div class="form-group">
                    <label for="pt-street">Email</label>
                    <input type="text" class="form-control" id="pt-email" aria-describedby="pt-street"
                      placeholder="patient@info.com">
                  </div>

                  <div class="form-group">
                    <label for="pt-street">Phone Number</label>
                    <input type="text" class="form-control" id="pt-phone" aria-describedby="pt-street"
                      placeholder="111-111-1111">
                  </div>

                  <div class="form-group">
                    <label for="pt-street">Street Address</label>
                    <input type="text" class="form-control" id="pt-street" aria-describedby="pt-street"
                      placeholder="123 Happy Street">
                  </div>

                  <div class="form-group">
                    <label for="pt-city">City</label>
                    <input type="text" class="form-control" id="pt-city" aria-describedby="pt-city"
                      placeholder="Philadelphia">
                  </div>

                  <div class="form-group">
                    <label for="pt-state">State</label>
                    <input type="text" class="form-control" id="pt-state" aria-describedby="pt-state" placeholder="PA">
                  </div>

                  <div class="form-group">
                    <label for="pt-zip">Zip Code</label>
                    <input type="text" class="form-control" id="pt-zip" aria-describedby="pt-zip" placeholder="19125">
                  </div>


                  <button id="submit" class="btn btn-primary float-right">Submit</button>
                </form>

                {{!-- THE FORM ENDS HERE --}}

              </div>

            </div>
          </div>
        </div>




        {{!-- This is our SEARCH modal --}}

        <div class="modal" tabindex="-1" role="dialog" id="search-modal">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Search for a Patient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">


                {{!-- this is the js library search bar --}}
                <div class="container">

                  <style>
                    @media (max-width:500px) {
                      .github-corner:hover .octo-arm {
                        animation: none
                      }

                      .github-corner .octo-arm {
                        animation: octocat-wave 560ms ease-in-out
                      }
                    }
                  </style>

                  <div class="body" align="center">
                    <input id="autoComplete" type="text" tabindex="1" placeholder="Patient Name">

                    <div class="selection"></div>
                  </div>

                </div>
                {{!-- end js library search bar  --}}




              </div>
            </div>
          </div>
        </div>

        {{!-- This is our PATIENT INFO modal --}}

        <div class="modal" tabindex="-1" role="dialog" id="info-modal">
          <div class="modal-dialog modal-lg" role="document">

            {{!-- this is the first modal content --}}
            <div class="modal-content" id="info-modal">
              <div class="modal-header">
                <h5 class="modal-title">Patient Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div id="patient-info"></div>
                <div class="text-right my-3">
                  <button class="btn btn-info btn-lg" id="edit-btn">Edit</button>
                  <button class="btn btn-danger btn-lg" id="delete-btn">Delete</button>
                </div>

              </div>
            </div>

            {{!-- this is the second modal content --}}

            <div class="modal-content" id="edit-modal">
              <div class="modal-header">
                <h3 class="modal-title text-info" id="surveyModalTitle">
                  Edit Patient
                </h3>
                {{!-- This is the close button --}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                {{!-- THE FORM STARTS HERE --}}

                <form class="clearfix mb-4" action="POST">
                  <div class="form-group">
                    <label for="first-name-e">First Name</label>
                    <input type="text" id="first-name-e" class="form-control" aria-describedby="first-name-e">
                  </div>
                  <div class="form-group">
                    <label for="last-name-e">Last Name</label>
                    <input type="text" class="form-control" id="last-name-e" aria-describedby="last-name-e"
                      placeholder="Enter Last Name">
                  </div>

                  <div class="form-group">
                    <label for="pt-dob-e">Date of Birth</label>
                    <input type="text" class="form-control" id="pt-dob-e" aria-describedby="pt-dob-e"
                      placeholder="01/01/1900">
                  </div>

                  <div class="form-group">
                    <label for="pt-weight-e">Weight (lbs)</label>
                    <input type="text" class="form-control" id="pt-weight-e" aria-describedby="pt-weight-e"
                      placeholder="150">
                  </div>

                  <div class="form-group">
                    <label for="pt-height-e">Height (in)</label>
                    <input type="text" class="form-control" id="pt-height-e" aria-describedby="pt-height-e"
                      placeholder="68">
                  </div>

                  <div class="form-group">
                    <label for="pt-email-e">Email</label>
                    <input type="text" class="form-control" id="pt-email-e" aria-describedby="pt-email-e"
                      placeholder="patient@info.com">
                  </div>

                  <div class="form-group">
                    <label for="pt-phone-e">Phone Number</label>
                    <input type="text" class="form-control" id="pt-phone-e" aria-describedby="pt-phone-e"
                      placeholder="111-111-1111">
                  </div>

                  <div class="form-group">
                    <label for="pt-street-e">Street Address</label>
                    <input type="text" class="form-control" id="pt-street-e" aria-describedby="pt-street-e"
                      placeholder="123 Happy Street">
                  </div>

                  <div class="form-group">
                    <label for="pt-city-e">City</label>
                    <input type="text" class="form-control" id="pt-city-e" aria-describedby="pt-city-e"
                      placeholder="Philadelphia">
                  </div>

                  <div class="form-group">
                    <label for="pt-state-e">State</label>
                    <input type="text" class="form-control" id="pt-state-e" aria-describedby="pt-state-e" placeholder="PA">
                  </div>

                  <div class="form-group">
                    <label for="pt-zip-e">Zip Code</label>
                    <input type="text" class="form-control" id="pt-zip-e" aria-describedby="pt-zip-e" placeholder="19125">
                  </div>


                  <button id="update-btn" class="btn btn-primary float-right">Update</button>
                </form>

                {{!-- THE FORM ENDS HERE --}}

              </div>


            </div>
          </div>




        </div>






        <form id="logout" name="logout" method="get" action="/logout">
          <button class="btn-lg btn-info mx-5" type="submit">
            Logout
          </button>
        </form>