<section id="container">

  <header class="header black-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips burger" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="index.html" class="logo"><b>WELLNESS <span>CARE GROUP</span></b></a>

    <div class="top-menu">
      <ul class="nav pull-right top-menu">
        <li>
          <form id="logout" name="logout" method="get" action="/logout">
            <button class="btn-lg btn-info mx-5" type="submit">
              Logout
            </button>
          </form>
        </li>
      </ul>
    </div>
  </header>
  <!--header end-->

  <!--sidebar start-->
  <aside>
    <div id="sidebar" class="nav-collapse">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <p class="centered"><img src="img/ui-sam.jpg" class="img-circle" width="85"></a></p>
        <h4 class="centered">Welcome Dr Name!</h4>
        <li class="mt">
          <a href="">
            <i class="fa fa-dashboard"></i>
            <span>View All Patients</span>
          </a>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-desktop"></i>
            <span>Find Patient</span>
          </a>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-cogs"></i>
            <span>Add New Patient</span>
          </a>
        </li>
        <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->

  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">

      <div class="row mt mx-5" id="row1">

        {{!-- SEARCH PATIENT CARD --}}
        <div class="col-md-6 mb">
          <div class="white-panel pn">
            <div class="white-header">
              <h5>SEARCH PATIENT</h5>
            </div>
            <button class="btn btn-lg btn-success" id="search-patient" data-toggle="modal" data-target="#search-modal">
              Search Patient
            </button>
          </div>
        </div>

        {{!-- ADD PATIENT CARD --}}
        <div class="col-md-6 mb">
          <div class="white-panel pn">
            <div class="white-header">
              <h5>ADD NEW PATIENT</h5>
            </div>
            <button class="btn btn-lg btn-warning" id="add-patient" data-toggle="modal" data-target="#add-modal">
              Add patient
            </button>
          </div>
        </div>

      </div>


      <div class="row mt mx-5" id="row2">

        {{!-- CALENDAR CARD --}}
        <div class="col-md-4 mb">
          <div class="white-panel">
            <div class="panel-body">
              <div id="date-popover" class="popover top"
                style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                <div class="arrow"></div>
                <h3 class="popover-title" style="disadding: none;"></h3>
                <div id="date-popover-content" class="popover-content"></div>
              </div>
              <div id="my-calendar"></div>
            </div>
          </div>
        </div>

        {{!-- WEATHER CARD --}}
        <div class="col-md-4 mb">
          <div class="white-panel pn py-3">
            <i class="fa fa-cloud fa-4x"></i>
            <h2>11ยบ C</h2>
            <h4>PHILADELPHIA</h4>
          </div>
        </div>

        {{!-- TIME CARD --}}
        <div class="col-md-4 mb">
          <div class="white-panel pn py-3">

            <body onload="startTime()">

              <div class="card mb-3 border-0 mx-auto" style="max-width: 18rem;">
                <div class="card-header border-0" class="far fa-clock">
                  <h3>clock</h3>
                </div>
                <div class="card-body text-primary">
                  <h5 class="card-title"></h5>
                  <div style="font-size: xx-large;" id="txt"></div>
                  <p class="card-text"></p>
                </div>
              </div>

            </body>
          </div>
        </div>

      </div>
    </section>







    {{!-- This is our ADD PATIENT modal --}}

    <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="surveyModalTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title text-info" id="surveyModalTitle">
              Add a New Patient
            </h3>
            {{!-- This is the close button --}}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            {{!-- THE FORM STARTS HERE --}}

            <form class="clearfix mb-4" action="POST">
              <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" class="form-control" aria-describedby="first-name"
                  placeholder="Enter First Name">
              </div>
              <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" class="form-control" id="last-name" aria-describedby="last-name"
                  placeholder="Enter Last Name">
              </div>

              <div class="form-group">
                <label for="pt-dob">Date of Birth</label>
                <input type="text" class="form-control" id="pt-dob" aria-describedby="pt-dob" placeholder="01/01/1900">
              </div>

              <div class="form-group">
                <label for="pt-weight">Weight (lbs)</label>
                <input type="text" class="form-control" id="pt-weight" aria-describedby="pt-weight" placeholder="150">
              </div>

              <div class="form-group">
                <label for="pt-height">Height (in)</label>
                <input type="text" class="form-control" id="pt-height" aria-describedby="pt-height" placeholder="68">
              </div>

              <div class="form-group">
                <label for="pt-street">Email</label>
                <input type="text" class="form-control" id="pt-email" aria-describedby="pt-street"
                  placeholder="patient@info.com">
              </div>

              <div class="form-group">
                <label for="pt-street">Phone Number</label>
                <input type="text" class="form-control" id="pt-phone" aria-describedby="pt-street"
                  placeholder="111-111-1111">
              </div>

              <div class="form-group">
                <label for="pt-street">Street Address</label>
                <input type="text" class="form-control" id="pt-street" aria-describedby="pt-street"
                  placeholder="123 Happy Street">
              </div>

              <div class="form-group">
                <label for="pt-city">City</label>
                <input type="text" class="form-control" id="pt-city" aria-describedby="pt-city"
                  placeholder="Philadelphia">
              </div>

              <div class="form-group">
                <label for="pt-state">State</label>
                <input type="text" class="form-control" id="pt-state" aria-describedby="pt-state" placeholder="PA">
              </div>

              <div class="form-group">
                <label for="pt-zip">Zip Code</label>
                <input type="text" class="form-control" id="pt-zip" aria-describedby="pt-zip" placeholder="19125">
              </div>


              <button id="submit" class="btn btn-primary float-right">Submit</button>
            </form>

            {{!-- THE FORM ENDS HERE --}}

          </div>

        </div>
      </div>
    </div>


    {{!-- This is our SEARCH modal --}}

    <div class="modal" tabindex="-1" role="dialog" id="search-modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Search for a Patient</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            {{!-- this is the js library search bar --}}
            <div class="container">

              <style>
                @media (max-width:500px) {
                  .github-corner:hover .octo-arm {
                    animation: none
                  }

                  .github-corner .octo-arm {
                    animation: octocat-wave 560ms ease-in-out
                  }
                }
              </style>

              <div class="body" align="center">
                <input id="autoComplete" type="text" tabindex="1" placeholder="Patient Name">

                <div class="selection"></div>
              </div>

            </div>
            {{!-- end js library search bar  --}}

          </div>
        </div>
      </div>
    </div>

    {{!-- This is our PATIENT INFO modal --}}

    <div class="modal" tabindex="-1" role="dialog" id="patient-modal">
      <div class="modal-dialog modal-lg" role="document">

        {{!-- this is the first modal content --}}
        <div class="modal-content" id="info-modal">
          <div class="modal-header">
            <h5 class="modal-title">Patient Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div id="patient-info"></div>


            <div class="text-right my-3">
              <button class="btn btn-success btn-lg" id="visit-btn" data-toggle="modal" data-target="#visit-modal">View
                Visits</button>
              <button class="btn btn-info btn-lg" id="edit-btn">Edit</button>
              <button class="btn btn-danger btn-lg" id="delete-btn">Delete</button>
            </div>

          </div>
        </div>

        {{!-- this is the second edit modal content --}}

        <div class="modal-content" id="edit-modal">
          <div class="modal-header">
            <h3 class="modal-title text-info" id="surveyModalTitle">
              Edit Patient
            </h3>
            {{!-- This is the close button --}}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            {{!-- THE FORM STARTS HERE --}}

            <form class="clearfix mb-4" action="POST">
              <div class="form-group">
                <label for="first-name-e">First Name</label>
                <input type="text" id="first-name-e" class="form-control" aria-describedby="first-name-e">
              </div>
              <div class="form-group">
                <label for="last-name-e">Last Name</label>
                <input type="text" class="form-control" id="last-name-e" aria-describedby="last-name-e"
                  placeholder="Enter Last Name">
              </div>

              <div class="form-group">
                <label for="pt-dob-e">Date of Birth</label>
                <input type="text" class="form-control" id="pt-dob-e" aria-describedby="pt-dob-e"
                  placeholder="01/01/1900">
              </div>

              <div class="form-group">
                <label for="pt-weight-e">Weight (lbs)</label>
                <input type="text" class="form-control" id="pt-weight-e" aria-describedby="pt-weight-e"
                  placeholder="150">
              </div>

              <div class="form-group">
                <label for="pt-height-e">Height (in)</label>
                <input type="text" class="form-control" id="pt-height-e" aria-describedby="pt-height-e"
                  placeholder="68">
              </div>

              <div class="form-group">
                <label for="pt-email-e">Email</label>
                <input type="text" class="form-control" id="pt-email-e" aria-describedby="pt-email-e"
                  placeholder="patient@info.com">
              </div>

              <div class="form-group">
                <label for="pt-phone-e">Phone Number</label>
                <input type="text" class="form-control" id="pt-phone-e" aria-describedby="pt-phone-e"
                  placeholder="111-111-1111">
              </div>

              <div class="form-group">
                <label for="pt-street-e">Street Address</label>
                <input type="text" class="form-control" id="pt-street-e" aria-describedby="pt-street-e"
                  placeholder="123 Happy Street">
              </div>

              <div class="form-group">
                <label for="pt-city-e">City</label>
                <input type="text" class="form-control" id="pt-city-e" aria-describedby="pt-city-e"
                  placeholder="Philadelphia">
              </div>

              <div class="form-group">
                <label for="pt-state-e">State</label>
                <input type="text" class="form-control" id="pt-state-e" aria-describedby="pt-state-e" placeholder="PA">
              </div>

              <div class="form-group">
                <label for="pt-zip-e">Zip Code</label>
                <input type="text" class="form-control" id="pt-zip-e" aria-describedby="pt-zip-e" placeholder="19125">
              </div>


              <button id="update-btn" class="btn btn-primary float-right">Update</button>
            </form>

            {{!-- THE FORM ENDS HERE --}}
          </div>
        </div>



      </div>




    </div>

    {{!-- This is our VISIT HISTORY modal --}}
    <div class="modal fade" tabindex="-1" role="dialog" id="visit-modal" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Visit History</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="visit-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="visit-close">Close</button>
          </div>
        </div>
      </div>
    </div>